:root {
    --bs-body-bg: #DADBD3;
    --bs-color-primary: #009688;
    --bs-secondary-rgb: 234, 234, 234;
    --bs-light-rgb: 177, 177, 177;
    --bs-info-rgb: 142, 218, 252;
    --bs-success-rgb: 211, 249, 186;
}

.top-bar {
    height: 120px;
    background-color: var(--bs-color-primary);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-container {
    background-color: white;
    height: calc(100vh - 36px);
    margin: 18px auto;
    position: relative;
}

.my-avatar {
    max-width: 45px;
    aspect-ratio: 1/1;
}
.circle-bell {
    background-color: white;
    border-radius: 50%;
    width: 46px;
    aspect-ratio: 1/1;
    text-align: center;
    line-height: 45px;
}
.btn-search-style {
    background-color: white;
    cursor: pointer;
    width: 70px;
    border: 1px solid lightgray;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.borded-right {
    border-right: 1px solid lightgrey;
}
.last-message-hour {
    justify-self: end;
    flex-grow: 1;
    text-align: right;
}